#submitBlocker 
{
	display: none;
	position: fixed;
	z-index:500;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url(../img/Transparent.gif);
}

#submitLoading 
{
	display: none;
	position: fixed;
	z-index:501;
	top:50%;
	left:50%;
	height:72px;
	width:169px;
	margin-left:-73px;
	margin-top:-84px;
	background-image:url(../img/white_transparency.PNG);	
}

#submitLoadingInner {
	position:absolute;
	top:11px;
	left:11px;
	height:50px;
	width:147px;
	background-image:url(../img/loading.gif);	
}
